<div class="wrap red-bg">
	<checkloginstatus></checkloginstatus>
	<!-- <div class="login-box" ng-controller="homeCtrl">
		<h3>wellcome</h3>
	  <p class="text">{{ userName }}</p>
	  <a ui-sref="user" class="btn">个人中心</a>
	  <a ui-sref="userList" class="btn">好友列表</a>
	  <a ui-sref="chat" class="btn">进入聊天室</a>
	  <a href="javascript:void(0)" class="btn" ng-click="loginOut()">退出登陆</a>
	</div> -->
	<u class="foot-nav b-t clearfix">
		<a ui-sref="chat"><li class="cur-page">
			<i class="font-ico">&#xe0ca;</i>
			<span>消息</span>
		</li></a>
		<a ui-sref="userList"><li>
			<i class="font-ico">&#xe902;</i>
			<span>好友</span>
		</li></a>
		<a ui-sref="user"><li>
			<i class="font-ico">&#xe904;</i>
			<span>我</span>
		</li></a>
	</u>
</div>
