<div class="wrap red-bg">
	<div class="login-box" ng-controller="loginCtrl">
		<h3 ng-init="loginState()">LOGIN</h3>
		<form action="/doLogin" method="post">
			<div class="input-line clearfix">
				<input type="text" name="userName" placeHolder="用户名" ng-model="userName">
			</div>
			<div class="input-line clearfix">
				<input type="password" name="pwd" placeHolder="密码" ng-model="pwd">
			</div>
			<a href="javascript:void(0)" class="btn" ng-click="login()">登陆</a>
			<a ui-sref="reg" class="btn">注册</a>
		</form>
	</div>
</div>